DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/linkshortener
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_DB = linkshortener
REDIS_URL=redis://redis:6379/0
SECRET_KEY=fdsk48*JF9d_hfd%*wMvi
ACCESS_TOKEN_EXPIRE_MINUTES=60
SHORT_CODE_LENGTH=8
CACHE_TTL_SECONDS=3600
UNUSED_LINK_DAYS=90
CLEANUP_INTERVAL_MINUTES=60
